.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 160px;
  min-height: 160px;
  margin-top: 50px;
  flex-wrap: wrap;
  border-top: 1px var(--footer-border-color) solid;
}

.footer__logoContainer {
  width: 165px;
  display: flex;
  justify-content: space-between;
}

.footer__description {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
}

.footer__link {
  color: var(--footer-link-color);
}